* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 16px;
}

#btn-group {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
}

#reset-round-btn {
  color: red;
  border: 2px solid red;
  background: none;
}

#reset-game-btn {
  color: white;
  border: 2px solid red;
  background-color: red;
}

#player-info {
  display: flex;
  justify-content: space-between;
  min-width: 470px;
}

#scoreboard {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tile {
  background-color: white;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
  font-size: 4em;
}

.green {
  color: green;
}

.blue {
  color: blue;
}
